<div class="body">
  <div class="container">
    <div class="row">
   <%= render 'users/list', user: current_user, book: @book %>
      <div class="col-xs-9">
    		<h2>Book detail</h2>
    		<table class="table">
    		  <tbody>
            <tr>
              <td>img atode</td>
              <td>link to title</td>
              <td>body</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>